/*eingelijk kunnen er meerdere van deze styles samen genomen worden :D maar op het moment dat de ideen binnen kwamen dacht ik: maak maar een nieuwe... totaal onnodig :( */


#Titel {
    text-align: center;
    font-size: 50;
    font-family: monospace;
    margin-top: 50;
}

#quote {
    text-align: center;
    font-style: italic;
    font-family: cursive;

    font-size: 15;
    margin-bottom: 80;
    padding: -541;
    
}

#JcoleImage {
    width: 400;
    display: block;
    margin: auto;

}

#caption {
    text-align: center;
    font-family: monospace;
    margin-bottom: 150;
}


.imgsize { /*Deze en */
    width: 400;
}



.centerimg {/*deze zijn toegevoed bij alle fotos  ik kon er eingleijk één van maken nu dat ik t zie......*/
    margin: 0 auto;
}

#text {
    font-family: sans-serif;
    font-style: italic;
    
}






.musicredirect {/*zodat de click boxes evengroot als het album art is maar toch doet t eerste album art beetje vreemd*/
     display: block;
    width: 400;
    margin: auto;
   
    
}



.textcenter {
    text-align: center;
}

h3 {
    text-align: center;
}


/* 

Wilde dat elke "rechthoek" (elke album art plus bij behoorende text) een matching achtergrond krijg maar dit is vreeselijk :P. Un-comment at your own risk hehe.
#thewarmup {
   
   background-color: rgb(5,9,13);
    
    
}
#FDL {
    background-color: rgb(18,31,59)
}

#sideline {
    background-color: rgb(132,18,24)
}

#truly {
    background-color: rgb(158,	150,	139	)
}

#FHD {
    background-color: rgb(45	,48	,43	);
}



#eyez {
    background-color: rgb(28	,28,	28)
}
*/



.paddingbot {
    margin-bottom: 55; 
/*    should be called maringbot but to lazy to change the calss to all the img
    
    Spatie tussen album arts*/
}

h2 {
    text-align: center;
    padding-bottom: 150;
}

.secondMargin { /*uuhm ook spatie tussen album arts ? :D ben vergeten*/
    margin-bottom: 100;
}

.extramargin {/*voor extra ruimte bij de laatse  paar */
    margin-bottom: 200
}
