#Titel {
    text-align: center;
    font-size: 50;
    font-family: monospace;
    /*margin-top: 50;*/
}

#quote {
    text-align: center;
    font-style: italic;
    font-family: cursive;
    font-size: 15;
    margin-bottom: 80;
    padding: -541;
}

#JcoleImage {
    width: 400;
    display: block;
    margin: auto;
}

#caption {
    text-align: center;
    font-family: monospace;
    margin-bottom: 150;
}

#wrap {
    /* NOTE: backgroundImg and no scroll */
    height: 100%;
    /*	overflow: hidden;*/
    background-image: url("images/j_cole_final_by_sbm832-d96e2ll.jpg");
}

.positioning {
    /* NOTE: flex for container div */
    margin-top: 16%;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 100px;
    /*border: 3px solid red;*/
    display: flex;
    flex-direction: column;
    background-color: rgba(192, 192, 192, 0.3);
}

#info {
    visibility: hidden;
}

#albumDiscription {
    font: 15px "Gill Sans Bold";
}

.backgroundImg {
    background-size: contain;
    display: block;
    filter: blur(25px);
    -webkit-filter: blur(25px);
    height: 1000px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
}

.sideBarImg {
    width: 21.7%;
    margin: 6;
}

h3 {
    text-align: center;
}

body {
    height: 100%;
    overflow: hidden;
}

h2 {
    text-align: center;
    padding-bottom: 150;
}

#trulyDatpiff {
    display: flex;
    flex-direction: row;
}

#imgAndText {
    display: flex;
    flex-direction: row;
}

#albumArt {
    width: auto;
    height: 40%;
}

#textAndPlayer {
    display: flex;
    flex-direction: column;
}

#text {
    width: 99%;
}

#entirePage {
    display: flex;
    flex-direction: row;
    z-index: 2;
    position: relative;
}

#sideBar {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin: 5;
}

#mainSecondpage {
    display: inherit;
    flex-direction: column;
}

.wikiLink {
    color: inherit;
    text-decoration: inherit;
}
